# ignore node_modules
**/node_modules/

# Ignore Python clutter
**/__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# Ignore local environment secrets
.env

# Ignore git metadata
.git
.gitignore

# Ignore Docker files
Dockerfile
docker-compose.yml