footer {
  background-color: #1b5491; /* UBC Blue */
  color: white;
  padding: 1rem;
}

a.footer-link:link {
  color: white;
}
a.footer-link:hover {
  color: rgba(219, 0, 219, 0.911);
}
a.footer-link:visited {
  color: rgba(253, 33, 253, 0.911);
}

.app-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 

}

/* Main Content Flex Column to allow children to grow */
.main-content {
    padding: 0em;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Wrapper around TutorialTabs in App.jsx */
.pdf-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 500px; /* Ensure at least some height */
}

.spacing > * {
  margin: 0.5em;
}

